<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Google Tag Manager -->
<script>
  (function (w, d, s, l, i) {
    w[l] = w[l] || [];
    w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
    var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s),
      dl = l != "dataLayer" ? "&l=" + l : "";
    j.async = true;
    j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
    f.parentNode.insertBefore(j, f);
  })(window, document, "script", "dataLayer", "GTM-MQJV33K");
</script>
<!-- End Google Tag Manager -->
<!-- ogp -->
<meta property="og:type" content="website" />
<%_ if(meta.title){ _%>
<title><%= meta.title%></title>
<meta property="og:title" content="<%= meta.title%>" />
<%_ }else{ _%>
<title>traveler20</title>
<meta property="og:title" content="traveler20" />
<%_ } _%> <%_ if(meta.description) { _%>
<meta name="description" content="<%= meta.description %>" />
<meta property="og:description" content="<%= meta.description %>" />
<%_ }else{ _%>
<meta name="description" content="traveler20のWEBサイトです。" />
<meta property="og:description" content="traveler20のWEBサイトです。" />
<%_ } _%> <%_ if(meta.url) { _%>
<meta property="og:url" content="https://traveler20.site/<%= meta.url %>" />
<%_ }else{ _%>
<meta property="og:url" content="https://traveler20.site/" />
<%_ } _%>
<!-- ogp-image -->
<meta
  property="og:image"
  content="https://traveler20.github.io/asset/img/meta/ogp.webp"
/>
<meta property="og:locale" content="ja_JP" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@traveler20site" />
<link
  rel="icon"
  type="image/x-icon"
  href="<%= path%>asset/img/meta/favicon.ico"
/>
<!-- css -->
<link rel="stylesheet" href="<%= path%>asset/css/style.css" />
<meta
  name="google-site-verification"
  content="E4QhhVQbs6WX--UCoGSTpSwT6ef1x7K24wQb22mULic"
/>
