<%_ const path='./'; _%>
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- meta -->
    <%- include(path + '_common/_head', { path:path,meta:data.meta['home'],})%>
  </head>
  <body>
    <%- include(path + '_common/_header',{path:path,}) %>

    <!-- .l-main -->
    <main class="l-main">
      <section class="l-section">
        <div class="l-section__inner">
          <section class="mb-14">
            <!-- <div class="text-center mb-9">
              <svg
                width="72"
                height="100"
                viewBox="0 0 72 100"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M31.4518 1C31.4518 1 28.6301 6.24345 34 14C38.5 20.5 73.3596 42.1739 69.9518 65C68.21 76.6674 63.4525 85 55.4525 91.5C47.4525 98 32.9518 99 32.9518 99C32.9518 99 48.4036 88.5 42.9518 70.5C37.5 52.5 22.3196 52 15.3195 40C8.31938 28 31.4518 1 31.4518 1Z"
                  fill="url(#paint0_linear_1324_157)"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M36.7813 75.3618C34.4453 78.8211 30.4883 81.0956 26 81.0956C18.8203 81.0956 13 75.2753 13 68.0956C13 65.8929 13.5479 63.818 14.5148 62C7.81741 64.2817 3 70.6261 3 78.0956C3 87.4845 10.6112 95.0956 20 95.0956C29.3888 95.0956 37 87.4845 37 78.0956C37 77.165 36.9252 76.2518 36.7813 75.3618Z"
                  fill="#E49A46"
                />
                <defs>
                  <linearGradient
                    id="paint0_linear_1324_157"
                    x1="41.9534"
                    y1="1"
                    x2="41.9534"
                    y2="99"
                    gradientUnits="userSpaceOnUse"
                  >
                    <stop offset="0.208792" stop-color="#E49A46" />
                    <stop offset="1" stop-color="#B85260" />
                  </linearGradient>
                </defs>
              </svg>
            </div> -->
            <figure class="flex items-center gap-8">
              <picture class="c-block-picture">
                <img
                  class="c-block-picture__image"
                  src="https://avatars.githubusercontent.com/u/60683849?v=4"
                  alt="traveler20"
                  loading="lazy"
                />
              </picture>
              <figcaption>
                <p>Designer</p>
                <h1 class="c-text-heading1">traveler20</h1>
                <p class="text-sm">
                  <a
                    class="c-text-gray"
                    href="https://github.com/traveler20"
                    target="_blank"
                    rel="nofollow noopener noreferrer"
                    >github.com/traveler20</a
                  >
                </p>
              </figcaption>
            </figure>
            <p class="mt-5">
              ブログは<a href="/career/">こちらのサイト</a>です
            </p>
          </section>

          <article class="c-tab">
            <div
              class="c-tab-tablist"
              role="tablist"
              aria-labelledby="tablist-label"
            >
              <button
                class="c-tab-button is-active js-tab-button"
                type="button"
                role="tab"
                id="tab1"
                aria-controls="tab-panel1"
                aria-selected="true"
              >
                Value
              </button>
              <button
                class="c-tab-button js-tab-button"
                type="button"
                role="tab"
                id="tab2"
                aria-controls="tab-panel2"
                aria-selected="false"
                tabindex="-1"
              >
                Timeline
              </button>
              <button
                class="c-tab-button js-tab-button"
                type="button"
                role="tab"
                id="tab3"
                aria-controls="tab-panel3"
                aria-selected="false"
                tabindex="-1"
              >
                Contact
              </button>
            </div>

            <div
              id="tab-panel1"
              class="c-tab-panel js-tab-panel is-active"
              role="tabpanel"
              tabindex="0"
              aria-labelledby="tab1"
            >
              <%- include(path + '_content/_value',{path:path,}) %>
            </div>
            <div
              id="tab-panel2"
              class="c-tab-panel js-tab-panel"
              role="tabpanel"
              tabindex="0"
              aria-labelledby="tab2"
            >
              <%- include(path + '_content/_timeline',{path:path,}) %>
            </div>
            <div
              id="tab-panel3"
              class="c-tab-panel js-tab-panel"
              role="tabpanel"
              tabindex="0"
              aria-labelledby="tab3"
            >
              <%- include(path + '_content/_contact',{path:path,}) %>
            </div>
          </article>
        </div>
      </section>
    </main>
    <!-- /.l-main -->

    <%- include(path + '_common/_footer',{path:path,}) %>
  </body>
</html>
